.form-container {
    border: 2px solid cadetblue;
    width: 400px;
    margin: 35px auto 0;
    padding: 20px 0;
    user-select: none;
    text-align: center;
}
    h3 {
      padding: 10px 0 15px;
    }
  
     .ul-form {
      padding: 10px;
      display: flex;
      justify-content: space-around;
      list-style: none;
    }
    .ul-form li {
        background: cadetblue;
        color: white;
        width: 130px;
        padding: 10px 0;
        border-radius: 18px; 
        cursor: pointer;
        transition: 0.3s;
        box-shadow: 3px 3px 1px rgba(137, 134, 134, 0.97);
        text-align: center
    }
     .ul-form li:hover {
          background: white;
          color: cadetblue;
        }
     
    
    .active-btn {
      background: cadetblue;
    }
     form {
      width: 400px;
      margin: 10px auto 0;
      padding: 20px;
  
    }

    .form-container {
        margin-top: 60px;
    }
  
    .form-logo {
        height: 300px;
        margin-right: 35px;
    }
  