.left-nav-container {
    position: relative;}
  
    .icons {
      position: fixed;
      z-index: 10;}
  
      @media screen and(max-width: 590px) {
        .left-nav-container {margin: 2px 0 0 -9px;}
      }
  
      .icons-bis {
        position: absolute;
        top: 50px;}
  
        .icons-bis a {
          transition: 0.1s;
          display: inline-block;  }
  
          .icons-bis a :before {
            transition: .15s ease;
            transform: scale(0);
            transform-origin: center;
            z-index: -10;
            content: "";
            height: 45px;
            width: 45px;
            position: absolute;
            border-radius: 50px;
          }
  
          .icons-bis a :hover {
            transform: scale(1.02);
          }
         
   @media screen and(max-width: 590px) {
          .active-left-nav img {
           
              height: 34px;
              width: 34px;
            }
          }
        
  
        .active-left-nav {
          position: relative;}
  
          .active-left-nav:after {
            content: "";
            height: 40px;
            width: 5px;
            position: absolute;
           
            left: -7px;
            bottom: 8px;
            border-radius: 40px;
            transform: scaleY(0);
            animation: scale 1.5s ease forwards;
          }
      